<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Meine Test Seite</title>
</head>

<body>
  {{> header}}

  <p>{{screamIt welcomeMessage}}</p>
  Hier steht dann noch ein wenig anderer Text {{> footer}}
</body>

</html>