<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My projects</title>
</head>

<body>
  {{> header}}

  <p>{{welcomeMessage}}</p>
  <p>Here is a list of my projects</p>
  <ul>
    <li>node-web-server</li>
  </ul>
  {{> footer}}
</body>

</html>